@using CitizenPortal.Helper
@using CitizenPortal.Resources.Views.Approach

<div class="row">
    <div class="main nine columns">
        <h1>@Index.Title</h1>
        @if (!string.IsNullOrEmpty(@ConfigHelper.Config.ApproachImageUrl))
        {
            <div class="centered">
                <img src="@ConfigHelper.Config.ApproachImageUrl" alt="approach image" />
            </div>
        }
        <div>
            @Html.Raw(ConfigHelper.Config.ApproachText)
        </div>
    </div>

    <div class="asideBlocks three columns">
        @{Html.RenderAction("_Aside", "_Shared");}
    </div>
</div>
